@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
margin: 0;
padding: 0;
font-family: "Open Sans";
background-color: white;
overflow-x: hidden;
}

h1 {   
font-size: 14px; 
color: #fffade;
font-weight: 400;
}

h2 {
color: #888;
font-size: 2em;
}
  
h3 {
margin-top: 5rem;
color:#555555;
letter-spacing: 1rem;
font-size: 3em;
font-weight: 300;
width:100%;
}

.header {     
pointer-events: none;
display: block;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
text-align: center;
background-color: #DCE9CB;

}

section {
display: block;
height: 100%;
width: 100%;
}


p {
color: black;
padding: 1rem;
}

ul {
list-style: none;
display: flex;
}

li {
float: center;
}

li a {
display: block;
text-decoration: none;
font-family: 'Open Sans';
font-size: 1.1rem;
letter-spacing: 0.1rem;
color: #555555;
text-align: center;
padding: 14px 30px;
transition: background .25s, box-shadow .15s;
}
   
li a:hover {
color: black;
font-weight: bold;
}



.topnav {
background-color: white;
display: flex;
position: fixed;
justify-content: center;
top: 0;
width: 100%;
height: 5rem;
z-index: 100;
}

.navigation {
position: fixed;
display: flex;
justify-content: center;
overflow: hidden;
top: 0;
width: 100%;
height: 5rem;
z-index: 100;
background-color: white;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
transition: height 1s;
}

.navigation a.icon {
display: none;
}

section.happy, section.kiska, section.birthday, section.pretty, section.puppy {
display: flex;
flex-direction: column;
align-items: center;
}

section.puppy {
background-color: #F8F8F8;
}

.happy p {
text-align: center;
width: 40rem;
}
.kiska p{
text-align: center;
width: 40rem;
}
.birthday p{
text-align: center;
width: 40rem; 
}
.pretty p{
text-align: center;
width: 40rem;    
}
.puppy p{
  text-align: center;
  width: 40rem;  
}

p.bonus {
text-align: center;
font-size: 0.7rem;
margin: 4rem;
}

   
.heart-trigger {
display: block;
margin: 0 auto;
order: 0;
padding: 12px 30px;
}

.visible {
display: block;
transform: scale(1);
}
  
.heartt {
margin: 0 auto;
padding: 12px 30px;
}

.fa-heart {
font-size: 2em; 
color: #555555;
transition: all .2s ease-in-out;
}
    
.fa-heart:hover {
color: #DE6E4B;
transform: scale(1.3);
}

.sketch {
position: absolute;
top: 0;
z-index: 1;     
}
  

.page-container {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
text-align: center;
width: 100%;
}


.content-section {
display: block;
height: 100%;
width: 800px;
}

.footer-copyright{
display: block;
float: left;
width: 100%;
text-align: center;
}

footer {
position: relative;
width: 100%;
}

p.copyright {
position: absolute;
width: 100%;
color:#555555;
font-size: 0.7em;
text-align: center;
bottom:0;
}

img.corgi {
width: 18rem;
height: 20rem;
margin: 0 0 2rem 0;
}

img.ballon1 {
height: 20rem;
margin: 0 0 2rem 0;
}

img.miracle1 {
margin: 0 2rem 0;
}

img.miracle2 {
margin: 0 2rem 0;
}
img.cherry {
height: 4rem;
margin: 0.8rem 0 2rem 0;
}
img.doggo {
width:25rem;   
}
.content-section {
width: 100%;
}


/*Gallery */

.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
.gallery .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  margin-right: -14px;
  box-shadow: 0 1px 4px 0 rgba(10,16,34,0.2);
  border-radius: 0;
  will-change: flex, transform, box-shadow;
  transition: flex 700ms ease, transform 700ms ease, box-shadow 700ms ease, -webkit-transform 700ms ease, border-radius 700ms ease;
}
.gallery .item:first-child {
  border-radius: 5px 0 0 5px;
  z-index: 5 !important;
}
.gallery .item:nth-child(2) {
  z-index: 4 !important;
}
.gallery .item:nth-child(3) {
  z-index: 3 !important;
}
.gallery .item:nth-child(4) {
  z-index: 2 !important;
}
.gallery .item:last-child {
  border-radius: 0 5px 5px 0;
  z-index: 1 !important;
  margin-right: 0 !important;
}
.gallery .item:hover {
  flex: 4;
  border-radius: 5px;
  z-index: 999 !important;
  box-shadow: 0 12px 24px 0 rgba(10,16,34,0.3), 0 0 0 transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.gallery .item-1 {
  background-image: url("/Users/likakoptyreva/Documents/GitHub/elikakopt.github.io/images/IMG_0241.jpg");
}
.gallery .item-2 {
  background-image: url("/Users/likakoptyreva/Documents/GitHub/elikakopt.github.io/images/IMG_0238.jpg");
}
.gallery .item-3 {
  background-image: url("/Users/likakoptyreva/Documents/GitHub/elikakopt.github.io/images/IMG_0235.jpg");
}
.gallery .item-4 {
  background-image: url("/Users/likakoptyreva/Documents/GitHub/elikakopt.github.io/images/IMG_0234.jpg");
}
.gallery .item-5 {
  background-image: url("/Users/likakoptyreva/Documents/GitHub/elikakopt.github.io/images/IMG_0237.jpg");
}





/* ---------------------------------------------------- MOBILE */

@media only screen and (max-width: 880px) {


section {
width: 100%;
}

.script {
display:none;
}

.navigation.responsive div {
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
}

.navigation a.icon {
  float: right;
  display: block;
  margin: 0px 1rem;
}

.navigation.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navigation.responsive a {
  display: block;
  color: grey;
}

.happy img {
width: 12rem;
height: 15rem;
margin: 2rem 2rem;
}

.header h1 {
visibility: hidden;
}
.header {
display: none;
}

.birthday img {
width:80%;
height:80%;
}

.pretty img {
width: 90%;
height: 90%; 
}

.happy p{
width: 90%;
}

.birthday p{
width: 90%;  
}

.pretty p{
width: 90%; 
}
.kiska p {
width: 90%;   
}


}

/* ---------------------------------------------------- BUTTON :) */

.container {
    top:50%;
    left:50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
  }

button {
    outline:none;
    height: 4rem;
    text-align: center;
    width: 15rem;
    border-radius:40px;
    background: #fff;
    border: 2px solid #DCE9CB;
    color:#DCE9CB;
    letter-spacing:3px;
    text-shadow:0;
    font-size: 1em;
    font-weight:400;
    cursor: pointer;
    transition: all 0.25s ease;
}

button:hover {
color:white;
background: #DCE9CB;
}

button:active {
letter-spacing: 2px;
letter-spacing: 2px ;
}

button:after {
content:"CLICK HERE :)";
}

.onclic {
width: 40px;
border-color: #bbbbbb;
border-width: 3px;
font-size: 0;
border-left-color: #DCE9CB;
animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
content:"";
}
.onclick:hover {
color: #DCE9CB;
background: white;
}

.validate {
font-size:13px;
color: white;
background: #DCE9CB;
}

.validate:after {
font-family:'Open Sans';
content:"\f00c";
}
  
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
   .dog {
   position: relative;
   width: 50vmin;
   height: 40vmin;
   margin-top: 13em;
   z-index: 0;
   }
   
   .heart {
     position: absolute;
     width: 6%;
     height: 7%;
     background-color: #e64356;
     border-bottom-right-radius: 23%;
     opacity: 0;
     -webkit-animation-fill-mode: both;
             animation-fill-mode: both;
   }
   @-webkit-keyframes heart-beat {
     0% {
       -webkit-transform: scale(0.75) rotate(35deg);
               transform: scale(0.75) rotate(35deg);
       opacity: 1;
     }
     5%, 15%, 25% {
       -webkit-transform: scale(1) rotate(35deg);
               transform: scale(1) rotate(35deg);
     }
     10%, 20% {
       -webkit-transform: scale(0.75) rotate(35deg);
               transform: scale(0.75) rotate(35deg);
     }
     70% {
       opacity: 1;
     }
     100% {
       -webkit-transform: rotate(35deg) translateY(-10px) translateX(-10px);
               transform: rotate(35deg) translateY(-10px) translateX(-10px);
       opacity: 0;
     }
   }
   @keyframes heart-beat {
     0% {
       -webkit-transform: scale(0.75) rotate(35deg);
               transform: scale(0.75) rotate(35deg);
       opacity: 1;
     }
     5%, 15%, 25% {
       -webkit-transform: scale(1) rotate(35deg);
               transform: scale(1) rotate(35deg);
     }
     10%, 20% {
       -webkit-transform: scale(0.75) rotate(35deg);
               transform: scale(0.75) rotate(35deg);
     }
     70% {
       opacity: 1;
     }
     100% {
       -webkit-transform: rotate(35deg) translateY(-10px) translateX(-10px);
               transform: rotate(35deg) translateY(-10px) translateX(-10px);
       opacity: 0;
     }
   }
   .heart--1 {
     top: -25%;
     left: 15%;
     -webkit-animation: heart-beat 2s ease-out infinite 1.5s;
             animation: heart-beat 2s ease-out infinite 1.5s;
   }
   .heart--2 {
     top: -36%;
     left: 7%;
     -webkit-animation: heart-beat 2s ease-out infinite 1s;
             animation: heart-beat 2s ease-out infinite 1s;
   }
   .heart--3 {
     top: -48%;
     left: 14%;
     -webkit-animation: heart-beat 2s ease-out infinite 0.5s;
             animation: heart-beat 2s ease-out infinite 0.5s;
   }
   .heart--4 {
     top: -53%;
     left: -3%;
     -webkit-animation: heart-beat 2s ease-out infinite;
             animation: heart-beat 2s ease-out infinite;
   }
   
   .heart:before,
   .heart:after {
     position: absolute;
     width: 100%;
     height: 100%;
     content: '';
     border-radius: 50%;
     background-color: #e64356;
   }
   
   .heart:after {
     bottom: 0px;
     left: -53%;
   }
   
   .heart:before {
     top: -53%;
     right: 0px;
     -webkit-transform: rotate(45deg);
             transform: rotate(45deg);
   }
   
   .body {
     position: absolute;
     width: 100%;
     height: 50%;
     background-color: #f79e38;
     border-top-right-radius: 17% 40%;
     border-top-left-radius: 25%;
     border-bottom-right-radius: 5% 13%;
     border-bottom-left-radius: 30% 40%;
     z-index: 3;
   }
   
   .cheast {
     position: absolute;
     width: 45%;
     height: 100%;
     background-color: #fff;
     border-top-right-radius: 17% 40%;
     border-top-left-radius: 25%;
     border-bottom-right-radius: 40% 40%;
     border-bottom-left-radius: 40% 40%;
     z-index: 4;
   }
   .cheast:after, .cheast:before {
     position: absolute;
     content: '';
     width: 7%;
     height: 55%;
     border-radius: 39%;
     background-color: #fff;
   }
   .cheast:after {
     top: 36%;
     left: 3%;
     -webkit-transform: rotate(-1deg);
             transform: rotate(-1deg);
   }
   .cheast:before {
     top: 19%;
     left: -4%;
   }
   
   .head {
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 4;
     -webkit-animation: dog-head 1s ease-out infinite;
             animation: dog-head 1s ease-out infinite;
     -webkit-animation-fill-mode: both;
             animation-fill-mode: both;
     -webkit-animation-direction: alternate;
             animation-direction: alternate;
   }
   @-webkit-keyframes dog-head {
     to {
       -webkit-transform: translateX(-3px) rotate(3deg);
               transform: translateX(-3px) rotate(3deg);
     }
   }
   @keyframes dog-head {
     to {
       -webkit-transform: translateX(-3px) rotate(3deg);
               transform: translateX(-3px) rotate(3deg);
     }
   }
   .tail {
     position: absolute;
     top: -14%;
     left: 92%;
     width: 10%;
     height: 45%;
     background-color: #f79e38;
     border-top-right-radius: 30% 30%;
     border-top-left-radius: 40% 30%;
     border-bottom-right-radius: 30% 40%;
     border-bottom-left-radius: 40% 40%;
     z-index: 2;
     -webkit-transform: rotate(20deg);
             transform: rotate(20deg);
     -webkit-animation: dog-tail 170ms ease-out infinite;
             animation: dog-tail 170ms ease-out infinite;
   }
   @-webkit-keyframes dog-tail {
     from, to {
       -webkit-transform: rotate(10deg);
               transform: rotate(10deg);
     }
     50%, 60% {
       -webkit-transform: rotate(70deg) translateX(10px) translateY(2px);
               transform: rotate(70deg) translateX(10px) translateY(2px);
     }
   }
   @keyframes dog-tail {
     from, to {
       -webkit-transform: rotate(10deg);
               transform: rotate(10deg);
     }
     50%, 60% {
       -webkit-transform: rotate(70deg) translateX(10px) translateY(2px);
               transform: rotate(70deg) translateX(10px) translateY(2px);
     }
   }
   .tail:before {
     position: absolute;
     content: '';
     top: -8%;
     left: -7%;
     width: 100%;
     height: 50%;
     background-color: #f79e38;
     border-radius: 50%;
     -webkit-animation: dog-tail-before 160ms ease-out infinite;
             animation: dog-tail-before 160ms ease-out infinite;
   }
   @-webkit-keyframes dog-tail-before {
     from, to {
       -webkit-transform: translateX(0);
               transform: translateX(0);
     }
     50% {
       -webkit-transform: translateX(3px);
               transform: translateX(3px);
     }
   }
   @keyframes dog-tail-before {
     from, to {
       -webkit-transform: translateX(0);
               transform: translateX(0);
     }
     50% {
       -webkit-transform: translateX(3px);
               transform: translateX(3px);
     }
   }
   .legs {
     position: absolute;
     top: 97%;
     left: 0;
     width: 100%;
     height: 30%;
     z-index: 2;
     -webkit-animation: dog-legs 1s ease-out infinite 1.5s;
             animation: dog-legs 1s ease-out infinite 1.5s;
     -webkit-animation-fill-mode: both;
             animation-fill-mode: both;
     -webkit-animation-direction: alternate;
             animation-direction: alternate;
   }
   @-webkit-keyframes dog-legs {
     from {
       -webkit-transform: translateY(-1px);
               transform: translateY(-1px);
     }
     to {
       -webkit-transform: translateY(0px);
               transform: translateY(0px);
     }
   }
   @keyframes dog-legs {
     from {
       -webkit-transform: translateY(-1px);
               transform: translateY(-1px);
     }
     to {
       -webkit-transform: translateY(0px);
               transform: translateY(0px);
     }
   }
   .legs__front, .legs__back {
     width: 10%;
     height: 100%;
     background-color: #f79e38;
     position: absolute;
     border-bottom-right-radius: 100%;
     border-bottom-left-radius: 100%;
   }
   .legs__front:after, .legs__back:after {
     content: '';
     position: absolute;
     top: 50%;
     right: 0%;
     width: 100%;
     height: 49%;
     background-color: #fff;
     border-bottom-right-radius: 100%;
     border-bottom-left-radius: 100%;
   }
   .legs__front--left {
     left: 38%;
     -webkit-transform: rotate(1deg);
             transform: rotate(1deg);
   }
   .legs__front--right {
     left: 20%;
     -webkit-transform: rotate(-4deg);
             transform: rotate(-4deg);
   }
   .legs__back--left {
     left: 69%;
     -webkit-transform: rotate(-7deg);
             transform: rotate(-7deg);
   }
   .legs__back--right {
     left: 85%;
     -webkit-transform: rotate(2deg);
             transform: rotate(2deg);
   }
   
   .face {
     height: 40%;
     width: 42%;
     position: absolute;
     top: -13%;
     left: -3%;
     background-color: #fff;
     border-top-right-radius: 45% 50%;
     border-top-left-radius: 35% 50%;
     border-bottom-left-radius: 35% 21%;
     z-index: 6;
   }
   .face:after, .face:before {
     content: '';
     position: absolute;
     background-color: #f79e38;
   }
   .face:after {
     width: 27%;
     left: 7%;
     height: 23%;
     border-top-right-radius: 100% 100%;
     border-bottom-left-radius: 49% 100%;
     -webkit-transform: rotate(-64deg);
             transform: rotate(-64deg);
     top: -1%;
     border-top-left-radius: 0% -20%;
     border-bottom-right-radius: 52% 0%;
     box-shadow: rgba(0, 0, 0, 0.1) 2px -6px 11px 1px;
   }
   .face:before {
     width: 55%;
     left: 42%;
     top: 0%;
     height: 35%;
     border-radius: 23% 7% 16% 12%;
     -webkit-transform: rotate(0deg) scaleX(-1);
             transform: rotate(0deg) scaleX(-1);
   }
   
   .eye {
     width: 6%;
     height: 6%;
     position: absolute;
     border-radius: 100%;
     top: 24%;
     background-color: #000;
     z-index: 6;
     -webkit-animation: dog-eye 1800ms infinite;
             animation: dog-eye 1800ms infinite;
   }
   @-webkit-keyframes dog-eye {
     from, to {
       -webkit-animation-timing-function: step-end;
               animation-timing-function: step-end;
       opacity: 1;
     }
     50%, 55% {
       -webkit-animation-timing-function: step-start;
               animation-timing-function: step-start;
       opacity: 0;
     }
   }
   @keyframes dog-eye {
     from, to {
       -webkit-animation-timing-function: step-end;
               animation-timing-function: step-end;
       opacity: 1;
     }
     50%, 55% {
       -webkit-animation-timing-function: step-start;
               animation-timing-function: step-start;
       opacity: 0;
     }
   }
   .eye--left {
     left: 27%;
   }
   .eye--right {
     left: 46%;
   }
   
   .mouth {
     background-color: transparent;
     border-color: #000;
     width: 44%;
     border-style: solid;
     border-width: 0.7vmin;
     height: 48%;
     z-index: 6;
     position: absolute;
     bottom: 35%;
     left: 14%;
     border-top-color: transparent;
     border-bottom-left-radius: 72% 100%;
     border-bottom-right-radius: 77% 100%;
     border-right-color: transparent;
     border-top-right-radius: 50%;
     border-left-color: transparent;
     -webkit-transform: rotate(-41deg);
             transform: rotate(-41deg);
   }
   
   .year {
     position: absolute;
   }
   .year--left {
     top: -40%;
     left: 3%;
     height: 47%;
     width: 19%;
     z-index: 1;
     background-color: #e99036;
     border-top-left-radius: 68% 100%;
     border-top-right-radius: 100% 100%;
     -webkit-transform-origin: bottom center;
             transform-origin: bottom center;
     -webkit-animation: left-year 1000ms ease-out infinite;
             animation: left-year 1000ms ease-out infinite;
     -webkit-animation-fill-mode: both;
             animation-fill-mode: both;
     -webkit-animation-direction: alternate;
             animation-direction: alternate;
   }
   @-webkit-keyframes left-year {
     from {
       -webkit-transform: rotate(-26deg);
               transform: rotate(-26deg);
     }
     25% {
       -webkit-transform: rotate(-35deg);
               transform: rotate(-35deg);
     }
     50% {
       -webkit-transform: rotate(-26deg);
               transform: rotate(-26deg);
     }
     to {
       -webkit-transform: rotate(-40deg);
               transform: rotate(-40deg);
     }
   }
   @keyframes left-year {
     from {
       -webkit-transform: rotate(-26deg);
               transform: rotate(-26deg);
     }
     25% {
       -webkit-transform: rotate(-35deg);
               transform: rotate(-35deg);
     }
     50% {
       -webkit-transform: rotate(-26deg);
               transform: rotate(-26deg);
     }
     to {
       -webkit-transform: rotate(-40deg);
               transform: rotate(-40deg);
     }
   }
   .year--right {
     top: -39%;
     left: 19%;
     height: 38%;
     width: 18%;
     z-index: 1;
     background-color: #f79e38;
     border-top-left-radius: 56% 100%;
     border-top-right-radius: 100% 100%;
     -webkit-transform-origin: bottom center;
             transform-origin: bottom center;
     border-bottom-right-radius: 14% 38%;
     -webkit-animation: right-year 1000ms ease-out infinite;
             animation: right-year 1000ms ease-out infinite;
     -webkit-animation-fill-mode: both;
             animation-fill-mode: both;
     -webkit-animation-direction: alternate;
             animation-direction: alternate;
   }
   @-webkit-keyframes right-year {
     from {
       -webkit-transform: rotate(-331deg);
               transform: rotate(-331deg);
     }
     25% {
       -webkit-transform: rotate(-320deg);
               transform: rotate(-320deg);
     }
     50% {
       -webkit-transform: rotate(-331deg);
               transform: rotate(-331deg);
     }
     to {
       -webkit-transform: rotate(-320deg);
               transform: rotate(-320deg);
     }
   }
   @keyframes right-year {
     from {
       -webkit-transform: rotate(-331deg);
               transform: rotate(-331deg);
     }
     25% {
       -webkit-transform: rotate(-320deg);
               transform: rotate(-320deg);
     }
     50% {
       -webkit-transform: rotate(-331deg);
               transform: rotate(-331deg);
     }
     to {
       -webkit-transform: rotate(-320deg);
               transform: rotate(-320deg);
     }
   }
   .nose {
     position: absolute;
     width: 24%;
     height: 24%;
     background-color: #fff;
     z-index: 7;
     left: -12%;
     top: -3%;
     border-bottom-left-radius: 50% 88%;
     border-top-left-radius: 11% 43%;
     -webkit-transform: rotate(12deg);
             transform: rotate(12deg);
   }
   .nose:after {
     content: '';
     position: absolute;
     width: 50%;
     height: 55%;
     background-color: #000;
     border-radius: 100%;
     left: -7%;
     top: -18%;
   }
   

   <!